<!DOCTYPE html>
<html>

<head>
    <title>Nodejs Server</title>
</head>

<body>
    <h1>Nodejs Server</h1>
    <p>
        Status: <b><%= message %></b>
    </p>
    <a href="/api/v1/test">
        <button>Test API</button>
    </a>
</body>

</html>